# markdown basics
## markdown basics
### markdown basics
#### markdown basics
##### markdown basics

* **point1**
* *point2*
* ***point3***

* normal text
 * sublist 1
 * sublist 2
 
 > 1.point 1
 > 2.point 2
 
 * []option 1
 * []option 2
 
* google site --[1]: http://www.google.com
* msn site    --[2]: http://www.msn.com

* []option 1
* google site -- [google][1]
[1]: http://www.google.com

## python basics
* python version 3.7
- function programming
- object oriented programming
- scripting programming

In [3]:
print("hello, gitam")
print("hyderabad")

hello, gitam
hyderabad

In [6]:
print("hello, gitam","|||",end =" ")
print("hyderabad",end="|||")
print("python programming")

hello, gitam ||| hyderabad|||python programming

# assignment

In [9]:
n1 = 100
a = b = c = 20
a1,b1,c1=111,222,333 #
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### data types and conversations
* int
* float
* string

In [12]:
a = 100
s1 ="python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [2]:
i = 100
print(type(i))
s1 = str(i) #str() converts the input into string type
print(type(s1))

<class 'int'>
<class 'str'>

In [7]:
 # a number is given 1234 -
 # digit count
 a1 = 1234
 print(len(str(a1)))

4

# reading a value
* input("massage") -- string

In [15]:
s1 = input("enter your name")
print(s1)
print(type(s1))

enter your namenikhitha
nikhitha
<class 'str'>

In [1]:
n1 = int(input("enter a number"))
print(n1,type(n1))

enter a number3
3 <class 'int'>

## operators
* operator is a symbol which is used to perform a specific kind of operation

## arthematic operations
- +
- -
- *
- /
- =
- %
- //
- **

In [2]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### precedence of the arth operators

 - parenthesis
 - power
 - multiplication
 - addition

# left to right

In [3]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [5]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### relational operators
 - ==
 - !=
 - greater(>)
 - less then(<)
 - less then or equal to(<=)
 - greater then or equal to(>=)